main {
    margin: 20px auto;
    width: 98%;
  }

.hero {
    color: #fff;
    background-color: blue;
}
.forecast-block {
    background-color: #999;
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
  }

.btn {
    font-size: 1rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: #fff;
    border-radius: .3rem;

}