* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
    margin: 20px auto;
    width: 98%;
  }

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
    color: #fff;
    background-image: linear-gradient(to right, blue , purple);
}

h1 {
  font-size: 2em;
}

input {
  width: 100%;;
}

#clear-buttons {
  color: #333;
}


#city-search-term {
  text-transform: capitalize;
}

p {
  margin-bottom: -26px;
}

.uv-btn {
  padding: 0px 4px;
  border-radius: .3rem;
}

.favorable {
  background-color: #77dd77;
  color: #333;
}

.moderate {
  background-color:orange;
  color: black;
}

.severe {
  background-color: red;
  color: white;
}

.forecast-block {
  border: 1px #999 solid;
  border-radius: .3rem;
  background-color: #273f4f;
  color: #fff;
  font-size: 14px;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
  }

.btn {
    font-size: 1rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: #fff;
    border-radius: .3rem;

}

@media screen and (max-width:575px) {
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: .9rem;
  }
  .mobi-pad {
    margin-left: 15px;
    margin-top: 10px;
    margin-right: -4px;
  }
  .card-body {
    padding: .75rem;
  }
  .card-header {
    padding: .5rem 1rem;
  }
  p {
    margin-bottom: 8px;
  }
} 